.FoodBrowser {
    padding-top: 20px;
}

.ActionButton {
    background-color: #0076B5;
    outline: none;
    cursor: pointer;
    border: 1px solid #022F40;
    color: white;
    font-family: inherit;
    padding: 5px 30px;
    box-shadow: 2px 2px 2px #022F40;
}

.ActionButton:hover, .ActionButton:active {
    background-color: #022F40;
    border: 1px solid #022F40;
    color: white;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.Wrapper {
    margin:0;
    padding-right:250px;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.Sidebar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 52px; /* Stay at the top */
    left: 0;
    background-color: white; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    padding-left: 10px;
}

.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 10px 10px 10px 50px;
}

