[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "*"
django-filter = "*"
django-rest-swagger = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
Django = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
gunicorn = "*"
django-taggit = "*"

[dev-packages]

[requires]
python_version = "3.6"
